# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual Environments
.env
.venv
env/
venv/

# IDEs
.idea/
.vscode/
*.swp

# Wideo i duże pliki binarne
data/*.mp4
data/*.avi
data/*.mov

# Project specific
# Ignorujemy modele YOLO (często ważą dużo) i bazy danych (aby nie nadpisywać ich sobie nawzajem)
*.pt
data/*.db
!data/models/.gitkeep
data/audio/cache/
data/models/vosk-model-small-pl-0.22/
data/models/vosk-model-small-pl-0.22.zip
